# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#jobs-overview & https://circleci.com/docs/reference/configuration-reference/#jobs
  
filter-master: &filter-master
  branches:
    only:
      - /master/
    ignore:
      - /.*/

jobs:
  build-and-publish:
    docker:
      - image: barichello/godot-ci:4.5.1

    steps:
      - checkout
      - run:
          name: "Build"
          command: |
            mkdir -v -p build/web
            EXPORT_DIR="$(readlink -f build)"
            godot --headless --verbose --export-release "Web" "$EXPORT_DIR/web/index.html"
      - run:
          name: "Publish Itch.io"
          command: |
            butler login
            butler push ./build/web $ITCHIO_USERNAME/$ITCHIO_GAME:web

workflows:
  master-workflow: 
    jobs:
      - authorize-workflow:
          type: approval
          filters:
            <<: *filter-master

      - build-and-publish:
          filters:
            <<: *filter-master